<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title> 
<style>
table {
  font-family: arial, sans-serif;
  border:1px solid black;
  width: 60%;
  height:60%;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style> 
</head>  
<body style="background-color:#fff;">
{% csrf_token %}
<h1 style="text-align:center; font-size:60px; color:slateblue;"> YOUR DIET REPORT </h1> 
<table class="center">
  <tr>
    <th style="font-size:30px;">CONTENTS</th>
    <th style="font-size:30px;">CONSUMED</th>
    <th style="font-size:30px;">BURNT</th>
  </tr>

  <tr>
    <th>CALORIES</th>
    <th>{{calories}} kcal</th>
    <th>{{BURNT}} kcal</th>
  </tr>

   <tr>
    <th>FAT</th>
    <th>{{fats}} %</th>
    <th>Nil</th>
  </tr>

  <tr>
    <th>VITAMIN A</th> 
    <th>{{VITAMIN_A}} IU</th>
    <th>nil</th>
  </tr>

  <tr>
    <th>VITAMIN C</th>
    <th>{{VITAMIN_C}} IU</th>
    <th>Nil</th>
  </tr>
  <tr>
    <th>CALCIUM</th>
    <th>{{CALCIUM}} mg</th>
    <th>Nil</th>
  </tr>
</table>
</body>  
</html>